body {
  text-align: center;
  background-color: lightblue;
  font-family: Verdana;
}

button {
    border-radius: 6px;
}

.redondeado {
  border-radius: 6px;
  background-color: #def;
}

#divBuscarPedido {
  float: left;
  width: 50%;
}

#divPedidoEncontrado1 {
  float: right;
  width: 25%;
}

#divPedidoEncontrado2 {
  float: right;
  width: 25%;
}

#NumeroTel {
  position: absolute;
  top: 195px;

}

#NumeroPed {
  position: absolute;
  top: 220px;
}

#input1 {
  position: absolute;
  left: 200px;
  top: 210px;
}
#input2 {
  position: absolute;
  left: 200px;
  top: 235px;
}

#btnBuscar {
  position: absolute;
  left: 200px;
  top: 260px;
}
