body {
  text-align: center;
  background-color: lightblue;
  font-family: Verdana;
}

h1 {
  font-family: Verdana;
  margin-bottom: 20px;
}

.redondeado {
  border-radius: 6px;
  background-color: #def;
}

.boton {
  font-family: Verdana;
  border-radius: 6px;
}
