.redondeado {
  border-radius: 6px;
  background-color: #def;

}

.boton {
    font-family: Verdana;
    border-radius: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#divFormulario {
  float: left;
}

#divProductosSimilares {
  float: right;
}

#divLimitaciones {
  display: none;
}
