body {
  background-color: lightblue;
  font-family: Verdana;
}

h1 {
  text-align: center;
  margin-bottom: 10px;
}

p {
  font-size: 14px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.redondeado {
  border-radius: 6px;
  background-color: #def;
}

.boton {
  border-radius: 6px;
  margin-top: 10px;
}

#divFormulario {
  float: left;
}

#divInfoAviso{
  float: right;
  width: 50%;

}
