#divMapaSeguimiento {
  float: right;
  background: #cccccc;
  position: static;
  right: 0;
  width: 600px;
  height: 475px;
  margin: 5px 5px 5px 5px;
  width: 50%;
}

#divPedidos {
  float: left;
  width: 40%;
  font-family: Verdana;
  font-size: 14px;
}

.pedidos {
  margin: 20px;
}

#links {
  position: absolute;
  bottom: 10px;
}
