body {
  text-align: center;
  background-color: lightblue;
    font-family: Verdana;
}

h1 {
  margin-bottom: 50px;
  font-weight: bold;
}

h2 {
  position: absolute;
  top: 100px;
  left: 570px;
}

/* clase botonLink */
.botonLink {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  width: 200px;
}

/* span: efecto en los botones */
.botonLink span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.botonLink span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.botonLink:hover span {
  padding-right: 25px;
}

.botonLink:hover span:after {
  opacity: 1;
  right: 0;
}
