body {
  background-color: lightblue;
  font-family: Verdana;
}

h1 {

  text-align: center;

}

button {
    border-radius: 6px;
}

.redondeado {
  width : 350px;
  border-radius: 6px;
  background-color: #def;
}

#divBusqueda {

}

#divAvisos {
  
}

#divMapa {
  background-color: lightblue;
  position: static;
  top: 20px;
  right: 0;
  width: 49%;
  height: 500px;
  border-radius: 6px;
}

#divAvisos {
  background-color: #6A82D5;
  float: right;
  width: 50%;
  height: 572px;
  border-radius: 6px;
  border-style: inset;
  opacity: 0.3;
  filter: alpha(opacity=50);
}

#tituloAvisos {
  text-align: center;
}
