body {
  background-color: lightblue;
  font-family: Verdana;
}

h1 {
  text-align: center;
  margin-bottom: 10px;
  font-family: Verdana;
}

p {
  font-size: 14px;
  font-family: Verdana;
  margin-top: 4px;
  margin-bottom: 4px;
}

p2 {
  font-size: 12px;
  font-family: Verdana;
}

.redondeado {
  border-radius: 6px;
  background-color: #def;
}

.boton {
    font-family: Verdana;
    border-radius: 6px;
}

#restriccionPrecio {
  position: absolute;
  top: 308px;
  left: 182px;
}
