body {
  text-align: center;
  background-color: lightblue;
  font-family: Verdana;
}

h1 {
  margin-bottom: 20px;
}

.boton {
  border-radius: 6px;

}

.redondeado {
  border-radius: 6px;
  background-color: #def;
}

#nombreUser {
  position: absolute;
  top: 170px;
  left: 470px;
}

#contraseña {
  position: absolute;
  top: 195px;
  left: 470px;
}

#input1 {
  position: absolute;
  top: 185px;
  left: 640px;
}

#input2 {
  position: absolute;
  top: 210px;
  left: 640px;
}

#btnSend {
  position: absolute;
  top: 240px;
  left: 640px;
}

#btnDel {
  position: absolute;
  top: 240px;
  left: 700px;
}
