body {
  background-color: lightblue;
  font-family: Verdana;
}

h1 {
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.redondeado {
  border-radius: 6px;
  background-color: #def;
}

.boton {
  border-radius: 6px;
  margin-top: 10px;
}

.linea {
  margin-bottom: 10px;
  display: block;
  width: 100%;
  clear: both;
}

.izq {
  float: left;
  width: 49%;
}

.der {
  float: right;
  width: 49%;
}

.label {
  text-align: right;
  margin-bottom: 6px;
}

.input {
  text-align: left;
  margin-bottom: 2px;
}

#divAlta {
  float: left;
  width: 50%;
  text-align: center;
}

#divBaja {
  float: right;
  width: 50%;
  text-align: center;
}

#divVolver {
  width: 100%;
  clear: both;
}
