body {
  font-family: Verdana;
  background-color: lightblue;
  text-align: center;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

p {
  font-size: 14px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.redondeado {
  border-radius: 6px;
  background-color: #def;
}

.boton {
  font-family: Verdana;
  border-radius: 6px;
  margin-top: 10px;
}
